.card-container .character-card{
    margin:0 1rem 2rem;
    padding:1rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(109, 109, 109, 0.3);
    max-width:20rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.card-container .character-card img{
    max-width: 15rem;
}

.character-card{
    color: #777;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 24%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.character-card img{
    width: 100%;
    margin-bottom: 20px; 
}
.character-card:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.character-card p {
    margin: 3px 0;
}
.character-card h2 {
    margin: 2px 0;
}
.more{
    color: blue;
    text-align: right;
}
.delete {
    color: red;
    text-align: right;
}
.more:hover,
.delete:hover {
    text-decoration: underline;
    cursor: pointer;
}
.show{
    display: block;
}
.hide{
    display: none;
}